	</div>
	<footer id="pied-de-page">
		<div >
			<center>
			     <h2>Thibault BONDETTI - Abderezak ZADRI - Nassim BENDJOUDI</h2>
			     <h2>IPS - M1 - 2017/2018</h2>
			</center>
		</div>
	</footer>




	
	</body>
</html>
