#logo img{
	width: 200px;
	height: 100px;
	top: 30%;
	}

#global{
	position: absolute;
	left: 10%;
	top: 20%;
	width: 100px;
	height: 100px;
	margin-left: -100px; 
    margin-top: -100px
}

/*#bachground_container{
	position: relative; right:0 ;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 0;
	background-size: cover;
	background-repeat: repeat;
	background-position: center center;
}*/
#background_video{
	position:fixed;
	bottom: 0;
	right: 0;
	min-height: 100%;
	min-width: 100%;
	z-index: -100;
}
#accueil{
	position: absolute;
	left: 50%;
	top: 20%;
	margin-left: -100px; 
    margin-top: -40px;

}

#liste_de_gauche{

}

#liste_de_droite{
	position: absolute;
	right:1%;
	top:0;

}
ul li.btn{
	display: inline-block;
	list-style-type: none;
	
}

ul li.btn a{
	/* modifier la couleur d'écriture pour Accueil....*/
	color: white ;
    /* eutourer avec une couleur : Accueil....*/
	background-color: blue;
	/* enlever le soulignement des bouton: accueil.....*/;
	text-decoration: none;
	/*Augmenter la taille de la bande qui entoure les bouton de navogation*/ 
	padding: 10px;
}
    /* inverser les couleur lors d'un survol sur : Accueil.....; */
ul li.btn:hover a{
	color: blue;
	background-color: white;
}
footer {
	position: absolute; bottom: 0; left: 0; right: 0;
	border: 15px dotted orange;
	border-style: solid;

}
 #droit{
 	position: fixed;
 	top:96%;
 	left:3%
 
 }
 #nous_contacter{
	position: fixed;
	left: 45%;
	top: 96%

 }
#mise_a_jour {
	 position: fixed;
	 right: 3%;
	 top: 96%;


 


/*p{
	color: red;

}
body{
	background:    no repeat;
	background-size: 100% ;
}
h2.headline{

	size: 20px;
	font-weight: bold;
	padding-top: 200px
}*/