h3 	{ background : white;
	border-width: 3px;
          border-style: 1px;
          border-color: black;
          
	}

span    { 
        }

.photos_lieux { width:150px;
	height:100px;
        float: right;
	

}
