		<footer> 
		    	<div id=droit>
			    	<p>Copyright &copy; 2018</p> 
		       	</div>

		       	<div id="mise_a_jour">
				<p>Mis à jour </p>
				     <?php echo date("Y-m-d h:i:s"); ?>
			</div>   
				  
				  
		       	<div id="nous_contacter">
				<p>Nous contacter:<a href="Contact.php"> Nabil AMARI </a><a href="Contact.php">Abdelkader YOUSFI</a></p>
			</div>
				       
		</footer>

	</body>
</html>