#background_video{
	position:fixed;
	bottom: 0;
	right: 0;
	min-height: 80%;
	min-width: 100%;
	z-index: -100;
}

#messageBienvenue{
	position: fixed;
	left: 15%;
	top: 50%;
	text-align: center;
	margin-left: -100px; 
    	margin-top: -40px;
}
#logo img{
	float:left;
	height:100px;
	width:150px;
}
#entete{
	height: 60px;
	width: 100%;
		
	}

#entete{
	position:absolute;
	top: 0;
	padding:15px;
	background-image:url('http://capcatalogne.com/wp-content/uploads/2016/01/Feliu1.png' );
	height: 110px;
	width: 100%;
	z-index:-10;
}



#entete h1{

	float: right;
	padding-left:115px;
	padding-right: 20px;
	color: white;
}

#liste_de_gauche{

}

#liste_de_droite{
	position: absolute;
	right:1%;
	top:0;

}


nav {	
	
	top:130px;
	position: absolute;
	width: 100%;
	background-color: #22427c;
	z-index:+11;
}

ul li.btn{
	display: inline-block;
	list-style-type: none;
	
}

ul li.btn a{
	/* modifier la couleur d'écriture pour Accueil....*/
	color: white ;
    /* eutourer avec une couleur : Accueil....*/
	background-color: #22427c;
	/* enlever le soulignement des bouton: accueil.....*/;
	text-decoration: none;
	/*Augmenter la taille de la bande qui entoure les bouton de navogation*/ 
	padding: 10px;
}
    /* inverser les couleur lors d'un survol sur : Accueil.....; */
ul li.btn:hover a{
	color: #22427c;
	background-color: white;
}


footer {
	position: fixed; bottom: 0; left: 0; right: 0;
	border: 18px #22427c;
	border-style: solid;

}

 #droit{
 	position: fixed;
 	top:95%;
 	left:3%;
 	color:white;
 
 }
 #nous_contacter{
	position: fixed;
	left: 45%;
	top: 95%;
	color:white;

 }
#mise_a_jour {
	 position: fixed;
	 right: 3%;
	 top: 95%;
	 color:white;
}
#mapage{
	padding-left:115px;
	padding-right: 20px;

}

table {
	position: absolute; 
	top: 30%;
	width: 90%;
	left:5%;
	border-collapse: collapse;
	display:bloc;
	
}
table td, table th {
	padding: 10px;
	border: solid grey 1px;
	
}
.imagetab{
	max-height:120px;
	max-width:120px;  
}


#contactFormulaire{
 
	position: absolute; 
	top: 30%;
	width: 70%;
	left:15%;
	border-collapse: collapse;
	display:bloc;
}

#formulaireCreation{

	position: absolute; 
	top: 30%;
	width: 70%;
	left:5%;
	border-collapse: collapse;
	display:bloc;
        line-height:35px;

}


/* lorsque l'ajout est réussi*/

#existeDeja{
	color:red;
}

#ajoutReussi{
	color:blue;
}
 /* pour les tableau de recherche */

#tableauRecherche{
	margin-top:20px;
}


#recherche{
	float:left;
	font-size:0.8em;
	color: gray;
	
}


#ajout{
	float:right;
	color: gray;
	font-size:0.8em;
}

#tableauRecherche{
	top: 30%;
	margin-top:80px;
}

#formCreation{
	color:#1C3026;
}


#labelValiderCreation{
	background-color:silver;
	color:black;
}
#erreurMotdepasse{
	position:relative;
	display:none;
}

#erreurLogin{
	position:relative;
	display:none;
}

#erreurEmail{
	position:relative;
	display:none;
}

#formConnexion{
	float:left;
	margin-top:0px;
	margin-left:30px;
	color:white;
}

#erreurConnexion{
	float:left;
	margin-top:30px;
	margin-left:20px;
	color:red;
}

#cnx{
	float:left;
	margin-left: 40px;
	margin-top:20px;
	color:white;
}


#newusr{
	float:left;
	margin-left: 25px;
	margin-top:20px;
	color:white;

}
#gauche{
	position: absolute; 
	top: 30%;
	width: 70%;
	left:10%;
	font-size: 0.8em;
	color: gray; 
	
} 
#droite{
	position: absolute; 
	top: 30%;
	width: 70%;
	left:10%;
	font-size: 0.8em;
	color: gray; 
	
} 
 /*fenetre de rajout */

#fenetreRajout {
	position: absolute;
	top: 40%;
	width: 70%;
	color: #9bb99b;
	float: 15%;
	padding: 10px;
}




