#background_video{
	position:fixed;
	bottom: 0;
	right: 0;
	min-height: 100%;
	min-width: 100%;
	z-index: -100;
}

#messagebienvenue{
	position: absolute;
	left: 50%;
	top: 20%;
	margin-left: -100px; 
    margin-top: -40px;
}