body{
	font-family: Segoe UI ,Arial, sans-serif;
	font-size: 1.0em;
	color:#45974D;
	margin: 0px;
	padding: 0px;
	
}

/*M E N U*/
/*j'étire mon menu sur toute la largeur de l'écran et je done une couleur et je rajoute padding*/


#menu-deroulant{
		display:none;
}

nav{	
	top:130px;
	position: fixed;
	width: 100%;
	background-color: #45974D;
	z-index:+11;
}

nav > ul{
	margin: 0px;
	padding: 0px;
}
nav > ul > li {
	float: left;	
}
/*j'enlève les puces de ma liste*/
nav li{
	list-style-type: none;
}

/*pour éviter l'écrasement des éléments du menu j'utilise CSS::after;*/

nav > ul::after{
	content:"";
	display: block;
	clear: both;
}
/*style et couleurs*/
nav a{
	display: inline-block;
	text-decoration: none;   /*enlever le soulignement*/
}
nav > ul > li > a{
	padding: 15px 20px;
	color: #FFF;
}

.menu-newusr{
	float:right;
}
.menu-cnx{
	float:right;
}
/*rajouter bordure bleue au dessus des éléments du menu au survol et couleur*/

.menu-home:hover{
	border-top: 4px solid #FFB800;
	background-color: RGBa(255, 184, 0, 0.15);
}
.menu-plantes:hover{
	border-top: 4px solid #FF7500;
	background-color: RGBa(255, 117, 0, 0.15);
}
.menu-plantesDyn:hover{
	border-top: 4px solid #F8FF00;
	background-color: RGBa(248, 255, 0, 0.10);
}
.menu-contact:hover{
	border-top: 4px solid #00A7FF;
	background-color: RGBa(0, 167, 255, 0.15);
}
.menu-cnx:hover{
	border-top: 4px solid #B40486;
	background-color: RGBa(180, 4, 134, 0.15);
}
.menu-newusr:hover{
	border-top: 4px solid #2EFE2E;
	background-color: RGBa(46, 254, 46, 0.15);
	
}

.imagetab{
	max-height:120px;
	max-width:120px;  
}


/*********************************************************************************/

table {
	width: 100%;
	border-collapse: collapse;
}
table td, table th {
	padding: 10px;
	border: solid grey 1px;
}




#entete{
	position:fixed;
	top: 0;
	padding:15px;
	background-image:url('http://www.fondation-georges-truffaut.org/wp-content/themes/twentyeleven/img/banniere-responsive.jpg' );
	height: 110px;
	width: 100%;
	z-index:+10;
	
	
}


#entete h1{

	float: right;
	padding-left:115px;
	padding-right: 20px;
	color: white;
	
}

#messageBienvenue{
	position: absolute;
	top: 200px;
	margin-left: 13%;
	color:#278054;
}
#formConnexion{
	float:left;
	margin-top:0px;
	margin-left:30px;
	color:white;
}

#erreurConnexion{
	float:left;
	margin-top:30px;
	margin-left:20px;
	color:red;
}

#cnx{
	float:left;
	margin-left: 40px;
	margin-top:20px;
	color:white;
}


#newusr{
	float:left;
	margin-left: 25px;
	margin-top:20px;
	color:white;
}

.corps {
	
	margin-left:180px;
	margin-right:180px;
	margin-top: 190px;
	padding-left: 15px;
	margin-bottom: 180px;
}

#logo img{
	float:left;
	height:100px;
	width:100px;
}

#pied-de-page{
	padding: 6px;
	width: 100%;
	height: 7%;
	position: fixed;
	bottom:0;
	color: white;
	background-color: #45974D;
	font-size: 0.5em;
	line-height: 0.5em;
}

#gauche{
	float:left;
	font-size:0.8em;
	color: gray;
	
}


#droite{
	float:right;
	color: gray;
	font-size:0.8em;
}

#erreurMdp{
	position:relative;
	display:none;
}

#erreurLogin{
	position:relative;
	display:none;
}

#erreurEmail{
	position:relative;
	display:none;
}


#fenetreRajout {
	position: relative;
	color: #9bb99b;
	float: left;
	z-index:+2;
	padding: 10px;
	
}
#tableauRecherche{
	margin-top:20px;
}

#formCreation{
	color:#1C3026;
}

#labelValiderCreation{
	background-color:#7FE0D6;
	color:black;
}

#existeDeja{
	color:red;
}

#ajoutReussi{
	color:blue;
}

/**********************************************************************************************/
/******* On redéfinit les styles lorsque la largeur de l'écran est en dessous de 1024px *******/


@media screen and (max-width: 1024px) { 
	.colMasque {
		display:none;
	}
	#logo img{
		
		height:80px;
		width:80px;
		z-index:100;
	}
	.corps {
		margin-top: 190px;
		margin-bottom: 180px;
		margin-left:0px;
		margin-right:0px;
	}
	
	body{
		font-family: Segoe UI ,Arial, sans-serif;
		font-size: 0.7em;
		color:#45974D;
		margin: 0px;
		padding: 0px;
	}
	
	.imagetab{
		max-height:50px;
		max-width:50px;  
	}
	#menu-horizontal{
		display:none;
	}
	#menu-deroulant{
		display:inline;
		top:90px;
		position: fixed;
		width: 100%;
		background-color: #45974D;
	
		width:100%;
		
	}
	
	#entete{
	
		height: 60px;
		width: 100%;
	
	
	
	}


	#entete h1{
		top:30px;
		position:fixed;
		float: left;
		padding-right: 20px;
		color: white;
	
	}
	#pied-de-page{
		height: 3%;	
	}
	
	/*formulaire de connexion*/
	#formConnexion{

		z-index:98;
		background-color:white;
		color:gray;
		width:100%;
		margin-left: 0px;
		margin-top: 40px;
		
	}
	/************MENU DEROULANT************/
	#menu-deroulant, #menu-deroulant ul{
		padding:0;
		margin:0;
		z-index:99;
		list-style:none;
		text-align:center;
		text-decoration: none;
		}
	#menu-deroulant li{
		display:inline-block;
		position:relative;
		
		border-radius:8px 8px 0 0;
		width:100%;
		}
	#menu-deroulant ul li{
		display:inherit;
		border-radius:0;
		
		}
	#menu-deroulant ul li:hover{
		border-radius:0;
		}
	#menu-deroulant ul li:last-child{
		border-radius:0 0 8px 8px;
		}
	#menu-deroulant ul{
		position:absolute;
		z-index: 1000;
		max-height:0;
		left: 0;
		right: 0;
		overflow:hidden;
		-moz-transition: .8s all .3s;
		-webkit-transition: .8s all .3s;
		transition: .8s all .3s;
		}
	#menu-deroulant li:hover ul{
		max-height:15em;
		}
	/*disposition boutons dynamiques*/
	
	.menu-newusr2{
		float:left;
	}
	.menu-cnx2{
		float:left;
	}
	
	/* background des liens sous menus */
	#menu-deroulant li:first-child li{
		background:#2A2333;
		}
	
	
	/* background des liens menus et sous menus au survol */
	#menu-deroulant li:first-child:hover, #menu-deroulant li:first-child li:hover{
		background:#73b77a;
		}
	
	/* les a href */
	#menu-deroulant a{
		text-decoration:none;
		display:block;
		padding:8px 32px;
		color:#fff;
		font-family:arial;
		}
	#menu-deroulant ul a{
		padding:8px 0;
		}
	#menu-deroulant li:hover li a{
		color:#fff;
		text-transform:inherit;
		}
	#menu-deroulant li:hover a, #menu-deroulant li li:hover a{
		color:#000;
		}

}


#slideshow {
	position: relative;
	top:50px;
	width: 840px;
	height: 510px;
	padding: 10px;
	margin: 0 auto 2em;
	border: 0.5px solid #ddd;
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}
 

#slideshow:before,
#slideshow:after {
	position: absolute;
	bottom:16px;
	z-index: -10;
	width: 50%;
	height: 20px;
	content: " ";
	background: rgba(0,0,0,0.1);
	border-radius: 50%;
	box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
}
#slideshow:before {
	left:0;
	transform: rotate(-4deg);
}
#slideshow:after {
	right:0;
	transform: rotate(4deg);
}
/* gestion des dimensions et débordement du conteneur */
#slideshow .container {
	position:relative;
	width: 840px;
	height: 510px;
	overflow: hidden;
}
	/*height: 20px;
	width: 20px*/
	
/* on prévoit un petit espace gris pour la timeline */
#slideshow .container:after {
	position:absolute;
	bottom: 0; left:0;
	content: " ";
	width: 100%;
	height: 1px;
	background: #999;
}
/* 
   le conteneur des slides
   en largeur il fait 100% x le nombre de slides
*/
#slideshow .slider {
	position: absolute;
	left:0; top:0;
	width: 400%;
	height: 510px;
}

/* annulation des marges sur figure */
#slideshow figure {
	position:relative;
	display:inline-block;
	padding:0; margin:0;
}
/* petit effet de vignette sur les images */
#slideshow figure:after {
	position: absolute;
	display:block;
	content: " ";
	top:0; left:0;
	width: 100%; height: 100%;
	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
}
/* styles de nos légendes */
#slideshow figcaption {
	position:absolute;
	left:0; right:0; bottom: 5px;
	padding: 20px;
	margin:0;
	border-top: 1px solid rgb(225,225,225);
	text-align:center;
	letter-spacing: 0.05em;
	word-spacing: 0.05em;
	font-family: Georgia, Times, serif;
	background: #fff;
	background: rgba(255,255,255,0.7);
	color: #555;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.3);
	
}
/* fonction d'animation*/
@keyframes slider {
	0%, 20%, 100%		{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}

/* Nous avons créer l’animation : */
#slideshow .slider {
	/* ... avec la propriété animation */
	animation: slider 20s infinite;
}

/*animation de la ligne de temps*/
#timeline {
	position: absolute;
	background: #999;
	bottom: 15px;
	left: 15px;
	height: 1px;
	background: rgb(214,98,13);
	background: rgba(214,98,13,.8);
	width: 0;
	/* fonction d'animation */
	animation: timeliner 20s infinite;
}
@keyframes timeliner {
	0%, 25%, 50%, 75%, 100%		{ width: 0; }
	20%, 45%, 70%, 90%		{ width: 640px;	}
}

/* monter et descendre la légende à chaque slide*/
@keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%			{ bottom: -55px;}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%	{ bottom: 5px;}
}
@keyframes identifier {
	0% 	 { top: 0; left: 0; }
	30%	 { top: 50px; }
	68%, 72% { left: 50px; }
	100%     { top: 100px; left: 100%; }
}

/* accrocher l'animation à notre élément ou ajouter à l'élément : */
#slideshow figcaption {
	/* ... la propriété animation */
	animation: figcaptionner 20s infinite;
}


























